<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="package com.example.boot.mapper.UserMapper">
    <select id="userList" resultType="uservo">
        select * from user
    </select>
    <select id="login" resultType="uservo">
        select * from user where uid = #{uid} and upw = #{upw}
    </select>
    <insert id="joinUser" parameterType="uservo">
        insert into User (uid, upw, unm, utel)
        values (#{uid},#{upw},#{unm},#{utel})
    </insert>
<!--    <update id="updateAuthor">-->
<!--        update Author set-->
<!--        username = #{username},-->
<!--        password = #{password},-->
<!--        email = #{email},-->
<!--        bio = #{bio}-->
<!--        where id = #{id}-->
<!--    </update>-->

<!--    <delete id="deleteAuthor">-->
<!--        delete from Author where id = #{id}-->
<!--    </delete>-->
</mapper>