<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form action="/cookie" method="get">
    <input type="text" name="pcode" id="pcode" value="p01">
    <input type="text" name="pname" id="pname" value="노트북">
    <input type="submit" value="선택하기">
</form>
</body>
</html>