<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>쿠키값 가져오기</h1>
    브라우저를 확인해보세요.
    <ol>
        <li>브라우저의 개발자 도구 열기 (F12)</li>
        <li>Application탭 선택</li>
        <li>Storage의 Cookies 선택</li>
    </ol>
</body>
</html>