<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    아이디 : <!--데이터 받아오기 --><br>
    비밀번호 : <!--데이터 받아오기 --><br>
    이름 : <!--데이터 받아오기 --><br>
    전화번호 : <!--데이터 받아오기 --><br>
</body>
</html>