<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    * {box-sizing: border-box;}
    h1 {text-align : center;}
    form {width : 500px; margin : 20px auto;}
    input {width : 100%; height : 50px; padding : 5px 15px; font-size : 16px;}
    input[type=submit] {border : none; outline : none; background-color : #777; color : #fff; border-radius : 5px; cursor : pointer;}
    input[type=submit]:hover {opacity : 80%;}
  </style>
</head>
<body>
  <h1>회원정보 수정</h1>
  <form action="/userUpdate" method="post">
    <input type="text" name="uid" th:value="${user.uid}" disabled>
    <input type="text" name="unm" th:value="${user.unm}" disabled>
    <input type="text" name="upw" th:value="${user.upw}">
    <input type="text" name="utel" th:value="${user.utel}">
    <input type="submit" value="회원 수정">
    <input type="button" id="deleteUserBtn" value="회원 탈퇴" onclick="">
  </form>
<script>
  document.getElementById('deleteUserBtn').onclick = function(){
    if(confirm("정말로 회원을 탈퇴 하시겠습니까?")){
      location.href='/userDelete';
    }
  };
</script>
</body>
</html>